target
Cargo.lock
package-lock.json
elm-stuff
node_modules
.build
dist
elm.rs
elmMain.js

zombie

# not ready for release
example-worker-blocking

# for experimentation
/src/main.rs
example-experiments
